@model IEnumerable<MvcMovie.Models.Movie>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        td, th {
            border: 1px solid #dddddd;
        }
        a {

        }
    </style>
</head>
<body>
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <table class="table">

        <tr>
            <th width="1%">
                <img src="/Menu.ico" alt="Menu" width="24" height="24">
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td width="1%">
                    @*<a href='@Url.Action("Details", "Movies", new { id = item.ID })'>
                        <img src="@Url.Content("~/Menu.ico")" alt="Menu" width="24" height="24" />
                    </a><br />*@
                    @*@Url.Action("Details", "Movies", new { id = item.ID })*@
                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>

            </tr>

        }

    </table>
</body>
</html>